@charset "ISO-8859-1";
.btn-xl {
    padding: 20px 40px;
    border-color: #1ee2e7;
    border-radius: 3px;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    background-color: #1ee2e7;
    align-content: center;
        justify-content: center;
    
}


.fondo{
	
	 background-attachment: scroll;
   background-image: url(https://www.latercera.com/resizer/uWX7V9nRocGALv0Qcu2aOBrot6Q=/arc-anglerfish-arc2-prod-copesa/public/FTQ2QOHZL5F4VDQC72MOMAESZY.jpg);
    background-position: center center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
   
    
}

.arr{
	  
   
 
 
     width: 50%;
    height: 25vh;
    background: gray; /* Cambio el color a gris */
        display: table;
    
    justify-content: center;
    align-items: center;
    font-family: Ubuntu;
    color: white;
    font-size: 12px;
    border-radius: 10%;
    margin-bottom: 100px;
    margin: 0 auto; /* Para centrar horizontalmente */
    max-width: 400px; /* Limito el ancho máximo a 400px */   
}
header {
    text-align: center;
    color: #fff;
    background-attachment: scroll;
   background-image: url(https://i.pinimg.com/originals/a9/88/a4/a988a47e605cacc02b0bb41c85270de3.jpg);
    background-position: center center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

@media(min-width:768px) {
    header .intro-text {
        padding-top: 300px;
        padding-bottom: 200px;
    }

    header .intro-text .intro-lead-in {
        margin-bottom: 25px;
        font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 40px;
        font-style: italic;
        line-height: 40px;
    }

    header .intro-text .intro-heading {
        margin-bottom: 50px;
        text-transform: uppercase;
        font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 75px;
        font-weight: 700;
        line-height: 75px;
    }
}